/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

div + div {
  margin-top: 2rem;
}

.tag {
  display: inline-block;
  background-color: #8dc4f4;
  font-size: 0.8rem;
  padding: .3rem;
}

.tag::before {
  content: '#';
  opacity: 0.4;
}
