body {
  font-family: Lato, arial, sans-serif;
  font-size: 18px;

  background-color: hsl(213, 72%, 85%);
  color: hsl(213, 72%, 25%);
}

@media (min-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  .c-subnav-toggle {
    display: none;
  }

  .c-subnav__header {
    position: absolute;
    left: -9999em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .c-footer {
    text-align: right;
  }
}

@media (max-width: 799px) {
  .c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .c-subnav {
    position: fixed;
    left: 0;
    min-width: 200px;
    max-width: 75%;
    top: 0;
    bottom: 0;
    padding: 1rem;
    background-color: white;
    transform: translateX(-100%);
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 10;
  }

  .c-subnav--show {
    transform: translateX(0%);
  }
}

a {
  color: hsl(213, 72%, 15%);
}

a:hover {
  text-decoration: none;
}

.c-header {
  padding: 1rem;
}

.c-header__title {
  margin: 0;
  font-family: 'Bodoni Moda', serif;
  line-height: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
}

.c-header__link {
  color: inherit;
  text-decoration: none;
}

.c-subnav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-subnav-toggle {
  margin-left: 1rem;
  padding: .25rem;
  border: 1px solid currentColor;
  background: none;
  font-family: inherit;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: inherit;
}

.c-subnav__grid-list {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(4ch, 1fr));
  grid-gap: .5rem;
}

.c-page {
  padding: 1rem;
}

.c-page__title {
  margin: 0 0 1rem;
  font-size: 3rem;
  font-weight: normal;
}

.c-footer {
  padding: 1rem;
}

.c-footer__link {
  color: hsl(0, 90%, 35%);
}

.c-tile__grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 -1rem;
}

.c-tile {
  position: relative;
  padding: 1rem;
}

.c-tile__cover-link {
  color: inherit;
  text-decoration: none;
}

.c-tile__cover-link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.c-tile:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
}

.c-tag {
  position: relative;
  display: inline-block;
  padding: .3rem;
  background-color: hsl(213, 92%, 90%);
  color: inherit;
  font-size: 0.8rem;
  text-decoration: none;
  z-index: 2;
}

.c-tag::before {
  content: '#';
  opacity: 0.4;
}

.c-tag:hover {
  background-color: hsl(213, 92%, 95%);
}

.c-data-table {
  width: 100%;
  border-collapse: collapse;
}

.c-data-table tr + tr {
  border-top: 1px solid hsla(0, 0%, 0%, 0.2);
}

.c-data-table th, .c-data-table td {
  padding: .5rem;
  text-align: left;
  vertical-align: top;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Lato-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Bodoni Moda';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/BodoniModa-Regular.ttf') format('truetype');
}
