{% extends "layouts/main.njk" %}

{% block title %}
  About - {{ super() }}
{% endblock %}

{% block content %}
  <h2
    class="c-page__title"
    property="name"
    id="skip-to-content-link-target"
    tabindex="-1"
  >
    About this database
  </h2>
  <div class="c-page__clamp">
    <p>
      This database is maintained by
      <a
        href="https://www.birmingham.ac.uk/staff/profiles/english/burge-amy.aspx"
        >Dr Amy Burge</a
      >
      from the University of Birmingham.
    </p>

    <h3>Privacy notice</h3>
    <p>
      We do not collect any personal data on this site. However, we do monitor
      traffic to individual pages to provide us with general analytics data. It
      is an extremely common practice, and not used to monitor individual users.
    </p>
    <p>
      If you do not wish us to track your visits to this site, you can turn on
      <a href="https://www.eff.org/issues/do-not-track">Do Not Track</a> in your
      browser. This will tell websites not to track you in analytics, and we
      will strictly honour it.
    </p>
    <h4>Access to personal data and the right to be forgotten</h4>
    <p>
      As we do not store any personal data, there is nothing for you to request
      access to or to be removed.
    </p>
    <h4>Contributing</h4>
    <p>
      If you choose to contribute, you will use Google Forms and will therefore
      be subject to
      <a href="https://policies.google.com/privacy">their privacy policy</a>.
    </p>
    <h4>Updates to this privacy notice</h4>
    <p>This notice was last updated on 25th January 2023.</p>
    <h4>Contact information</h4>
    <p>
      If you have any questions about the privacy notice, please contact
      <a
        href="https://www.birmingham.ac.uk/staff/profiles/english/burge-amy.aspx"
        >Dr Amy Burge</a
      >.
    </p>
  </div>
{% endblock %}
