{% extends "layouts/main.njk" %}

{% block title %}
  Contribute - {{ super() }}
{% endblock %}

{% block content %}
  <h2
    class="c-page__title"
    property="name"
    id="skip-to-content-link-target"
    tabindex="-1"
  >
    Contribute to the database
  </h2>
  <p>
    To contribute to the Muslim Women's Popular Fiction database, fill out the
    form below. Your submission will be reviewed before appearing in the
    database.
  </p>
  <iframe
    id="contribute-iframe"
    src="https://docs.google.com/forms/d/e/1FAIpQLSdYODHsrgR1HpR1gwXbqMKTjP9JuXkGqzty8t_53VliyOq8Hg/viewform?embedded=true"
    width="640"
    height="3380"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
  >
    Loading contribution form…
  </iframe>
{% endblock %}
