{% extends "layouts/main.njk" %}
{% from "macros/tags.njk" import tags %}

{% block title %}
  {{ novel.name }}
  - {{ super() }}
{% endblock %}

{% block content %}
  <div
    vocab="https://schema.org/"
    resource="/novel/{{ novel.identifier }}"
    typeof="{{ entry.@type }}"
    class="c-entry"
  >
    <div class="c-entry__fill">
      <h2
        class="c-page__title"
        property="name"
        id="skip-to-content-link-target"
        tabindex="-1"
      >
        {{ novel.name }}
        {% if novel.author %}
          <small class="c-page__subtitle">
            by
            {% for author in novel.author %}
              {{ (author.identifier | lookup).name }}

              {{- ", " if not loop.last }}
            {% endfor %}
          </small>
        {% endif %}
      </h2>

      <div style="margin-bottom: 1rem">{{ tags(novel.keywords) }}</div>

      <table class="c-data-table">
        <tbody>
          {% if novel.author %}
            <tr>
              <th>Creator</th>
              <td>
                {% for author in novel.author %}
                  <a href="/creator/{{ author.identifier }}" property="author">
                    {{ (author.identifier | lookup).name }}
                  </a>
                  {{- ", " if not loop.last }}
                {% endfor %}
              </td>
            </tr>
          {% endif %}

          {% if novel.directory %}
            <tr>
              <th>Director</th>
              <td>
                {% for director in novel.director %}
                  <a
                    href="/creator/{{ director.identifier }}"
                    property="director"
                  >
                    {{ (director.identifier | lookup).name }}
                  </a>
                  {{- ", " if not loop.last }}
                {% endfor %}
              </td>
            </tr>
          {% endif %}

          {% if novel.illustrator %}
            <tr>
              <th>Illustrator</th>
              <td>
                {% for illustrator in novel.illustrator %}
                  <a
                    href="/creator/{{ illustrator.identifier }}"
                    property="illustrator"
                  >
                    {{ (illustrator.identifier | lookup).name }}
                  </a>
                  {{- ", " if not loop.last }}
                {% endfor %}
              </td>
            </tr>
          {% endif %}

          {% if novel.genre %}
            <tr>
              <th>Genre</th>
              <td property="genre">{{ novel.genre | join(', ') }}</td>
            </tr>
          {% endif %}

          {% if novel.publisher %}
            <tr>
              <th>Publisher</th>
              <td>
                {% for publisher in novel.publisher %}
                  <a
                    href="/publisher/{{ publisher.identifier }}"
                    property="publisher"
                  >
                    {{ (publisher.identifier | lookup).name }}
                  </a>
                  {{- ", " if not loop.last }}
                {% endfor %}
              </td>
            </tr>
          {% endif %}

          {% if novel.datePublished %}
            <tr>
              <th>Year of publication</th>
              <td>
                <a
                  href="/year/{{ novel.datePublished.substr( 0, 4 ) }}"
                  property="datePublished"
                  content="{{ novel.datePublished }}"
                >
                  {{ novel.datePublished.substr(0, 4) }}
                </a>
              </td>
            </tr>
          {% endif %}

          {% if novel.comment %}
            <tr>
              <th>Notes</th>
              <td property="comment">{{ novel.comment.text }}</td>
            </tr>
          {% endif %}

          {% if novel.citation %}
            <tr>
              <th>Related texts</th>
              <td>
                {% for related in novel.citation %}
                  <a href="/novel/{{ related.identifier }}" property="citation">
                    {{ (related.identifier | lookup).name }}
                  </a>
                  {% if not loop.last %}<br />{% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endif %}

          {% if novel.url %}
            <tr>
              <th>Link</th>
              <td>
                <a href="{{ novel.url }}" property="url">{{ novel.url }}</a>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 26 26"
                  class="o-svg-icon"
                  title="External link"
                >
                  <path
                    d="M18 17.759v3.366C18 22.159 17.159 23 16.125 23H4.875C3.841 23 3 22.159 3 21.125V9.875C3 8.841 3.841 8 4.875
                  8h3.429l3.001-3h-6.43C2.182 5 0 7.182 0 9.875v11.25C0 23.818 2.182 26 4.875 26h11.25C18.818 26 21 23.818 21
                  21.125v-6.367l-3 3.001z"
                  />
                  <path
                    d="M22.581 0H12.322c-1.886.002-1.755.51-.76 1.504l3.22 3.22-5.52 5.519c-1.145 1.144-1.144 2.998 0 4.141l2.41 2.411c1.144
                1.141 2.996 1.142 4.14-.001l5.52-5.52 3.16 3.16c1.101 1.1 1.507 1.129 1.507-.757L26
                3.419c-.001-3.437.024-3.42-3.419-3.419z"
                  />
                </svg>
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>

    {% if novel.thumbnailUrl %}
      <img
        property="thumbnail"
        class="c-entry__image"
        src="{{ novel.thumbnailUrl | resize(500) }}"
        alt="Front cover of {{ novel.name }}"
      />
    {% endif %}
  </div>
{% endblock %}
