* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: Lato, arial, sans-serif;
  font-size: 18px;

  background-color: #fdfdff;
  color: #335;
}

a {
  color: hsl(213, 72%, 15%);
}

a:hover {
  text-decoration: none;
}

.c-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
}

@media (max-width: 800px) {
  .c-header {
    flex-direction: column;
    align-items: stretch;
  }
}

.c-header__title {
  margin: 0;
  font-family: "Bodoni Moda", serif;
  line-height: 1.2em;
  font-weight: normal;
}

.c-header__link {
  color: inherit;
  text-decoration: none;
}

.c-header__search,
.c-header__fill {
  flex-grow: 1;
}

.c-search {
  position: relative;
  min-width: 300px;
  max-width: 400px;
}

.c-search__input {
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.c-search__results {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0.1rem;
  background-color: #fff;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
  list-style-type: none;
}

.c-search__results--show {
  display: block;
  z-index: 5;
}

.c-search__result {
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.c-search__result:hover {
  background-color: #def;
}

.c-header__skip-links {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.c-header__skip-links a:focus {
  position: fixed;
  left: 1rem;
  top: 1rem;
  padding: 1rem;
  background-color: white;
}

.c-subnav {
  display: none;
  width: 500px;
  max-width: 100%;
  padding: 1rem;
  gap: 1rem;
  position: fixed;
  top: 40px;
  left: 50%;
  margin-left: -25%;
  background-color: white;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
  z-index: 10000;
}

@media (max-width: 800px) {
  .c-subnav {
    left: 0;
    right: 0;
    margin-left: 0;
  }
}

.c-subnav--show {
  display: flex;
}

.c-subnav__col {
  flex: 1;
}

.c-subnav__heading {
  margin-top: 0;
}

.c-subnav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.c-subnav__list > li + li {
  margin-top: 0.5rem;
}

.c-subnav__grid-list {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(4ch, 1fr));
  grid-gap: 0.5rem;
}

.c-subnav-toggle {
  margin-left: 1rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid currentColor;
  border-radius: 5px;
  background: none;
  font-family: inherit;
  font-size: 1.2rem;
  color: inherit;
  cursor: pointer;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.c-subnav-toggle:hover {
  background-color: hsla(240, 20%, 50%, 0.8);
  color: #fff;
}

.c-page {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 1rem;
}

.c-page__title {
  margin: 0 0 1rem;
  font-size: 3rem;
  font-weight: normal;
}

.c-page__subtitle {
  display: block;
  font-size: 1.5rem;
}

.c-page__clamp {
  max-width: 40em;
}

.c-footer {
  padding: 1rem;
}

.c-footer__link {
  color: hsl(0, 90%, 35%);
}

.c-tile__grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0;
  gap: 1rem;
}

.c-tile {
  position: relative;
  display: flex;
  align-items: end;
  flex-direction: row;
  aspect-ratio: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: #dde;
}

.c-tile__contents {
  width: 100%;
  padding: 1rem;
  background-color: hsla(0, 0%, 100%, 0.8);
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.c-tile__cover-link {
  color: inherit;
  text-decoration: none;
}

.c-tile__cover-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.c-tile:hover .c-tile__contents {
  background-color: hsla(240, 20%, 50%, 0.8);
  color: #fff;
}

.c-tag {
  position: relative;
  display: inline-block;
  padding: 0.3rem;
  background-color: hsl(213, 92%, 90%);
  color: inherit;
  font-size: 0.8rem;
  text-decoration: none;
  z-index: 2;
}

.c-tag::before {
  content: "#";
  opacity: 0.4;
}

.c-tag:hover {
  background-color: hsl(213, 92%, 95%);
}

.c-data-table {
  width: 100%;
  border-collapse: collapse;
}

.c-data-table tr + tr {
  border-top: 1px solid hsla(0, 0%, 0%, 0.2);
}

.c-data-table th {
  width: 25%;
}

.c-data-table th,
.c-data-table td {
  padding: 0.5rem;
  text-align: left;
  vertical-align: top;
}

.c-entry {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.c-entry__image {
  align-self: center;
}

@media (min-width: 800px) {
  .c-entry {
    flex-direction: row;
    align-items: start;
  }

  .c-entry__image {
    max-width: 30%;
    aspect-ratio: retain;
  }

  .c-entry__fill {
    flex-grow: 1;
  }
}

.o-svg-icon {
  height: 0.9em;
  fill: currentcolor;
}

.u-break-words {
  word-break: break-word;
}

.u-scroll-lock {
  overflow: hidden;
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Lato-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Bodoni Moda";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/BodoniModa-Regular.ttf") format("truetype");
}
